#imgSettings {
  position: absolute;
  left: 950vw;
  top: 0vw;
  width: 5vw;
  height: 5vw;
  opacity: 50%;
}

#settings {
  display: none;
  position: absolute;
  left: 950vw;
  top: 0vw;
}

.theme {
  background: #a0b0c0;
  color: #000000;
}
