#imgSettings {
/*not editable*/
  border: none;
  position: absolute;
  cursor: pointer;
/*dynamicaly editable*/
  right: 0.5vw;
  top: 0.5vw;
  width: 2vw;
  height: 2vw;
  opacity: 10%;
}

#imgSettings:hover {
  opacity: 100%;
}

#settings {
  padding: 5px;
  display: none;
  border: 1px solid black;
  border-radius: 3px;
/*inheritly edited*/
  position: absolute;
  left: 80vw;
  top: 3vw;
  width: 20vw;
  height: 10vw;
}

.theme {
/*dynamicaly editable*/
  background: #ffffff;
  color: #000000;
}
